@charset "utf-8";
@import "//src/bulma.sass";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Thai:wght@300;400;500;600;700&display=swap');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Lexend Deca",IBM Plex Sans Thai, sans-serif;
$grey-dark: #FFFFFF;
$black: #FFFFFF;
$title-color: #FFFFFF;
$white: #000000;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;    

// Import only what you need from Bulma
// @import "/src/scss/utilities/_all.sass";
@import "../../src/scss/utilities/_all.sass";
@import "../../src/scss/base/_all.sass";
// @import "../../src/scss/elements/button.sass";
@import "../../src/scss/elements/container.sass";
@import "../../src/scss/elements/content.sass";
@import "../../src/scss/elements/title.sass";
@import "../../src/scss/elements/table.sass";
@import "../../src/scss/components/card.sass";
@import "../../src/scss/components/navbar.sass";
// @import "../../src/scss/components/level.sass";
@import "../../src/scss/layout/_all.sass";
@import "../../src/scss/helpers/_all.sass";
@import "../../src/scss/grid/_all.sass";

html{background-image: url('https://wallpapers.com/images/hd/4d-ultra-hd-red-gradient-blobs-lq4203zqlhouj1ix.jpg');background-size: cover; background-repeat: no-repeat; background-attachment: fixed};
// .hero{backdrop-filter: blur(5px);}
// .card{background-color: $has;} 
// .realContainer{backdrop-filter: blur(25px);background-color: #000000aa;}
.realContainer{background-color: #000000aa;}
div.card{background-color: #ffffff13; box-shadow: none; border-radius: 10px;}
.container{background-color: #8080801e; border-radius: 10px; backdrop-filter: blur(30px)brightness(0.8);}
nav.navbar{background-color: #000000bd; backdrop-filter: blur(10px);}
.tile.is-child{background-color: #ffffff10; padding:10px;border-radius: 10px;}
// .footer{backdrop-filter: blur(20px); background-color: #00000099;}
img{border-radius: 10px;}
div.navbar{background-color: unset;}
section.hero{background-color: #000000aa; backdrop-filter: blur(20px);}
.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

.splide__track{border-radius: 10px;}
  .my-carousel-progress {
    background: unset;
  }
  
  .my-carousel-progress-bar {
    background: white;
    height: 3px;
    transition: width 800ms ease;
    width: 0;
  }
div.content .title{color:white;}
nav.navbar img{margin: 5px; width: 25px;}
hr{border: unset; height: 2px;}
.link.is-info{color:$black}
table.table tr th {color:white;}
